src/__pycache__/
date_read_mtt_cube_with_holes/
data_read_mtt/
10mm_cube/
data/Component_geometry.inp
data/Comp_geometry_cylinder.sat
data/Comp_geometry_my_rectangle_09mm_height.sat
data/Comp_geometry_my_rectangle_true_height.sat
data/Comp_geometry_trapeze.sat
data/Comp_geometry_trapeze_w_holes.sat
data/Merge_trial.com
data/Merge_trial.dat
data/Merge_trial.inp
data/Merge_trial.ipm
data/Merge_trial.log
data/Merge_trial.msg
data/Merge_trial.odb
data/Merge_trial.prt
data/Merge_trial.sta
data/Merge_trial_separated_merging.com
data/Merge_trial_separated_merging.dat
data/Merge_trial_separated_merging.inp
data/Merge_trial_separated_merging.ipm
data/Merge_trial_separated_merging.log
data/Merge_trial_separated_merging.msg
data/Merge_trial_separated_merging.odb
data/Merge_trial_separated_merging.prt
data/Merge_trial_separated_merging.sta
data/Tie_no_merge_trial.com
data/Tie_no_merge_trial.dat
data/Tie_no_merge_trial.inp
data/Tie_no_merge_trial.ipm
data/Tie_no_merge_trial.log
data/Tie_no_merge_trial.msg
data/Tie_no_merge_trial.odb
data/Tie_no_merge_trial.prt
data/Tie_no_merge_trial.sta
data/Job-1.inp
data/fort.7
data/ABQcaeG.00.21020.exception
data/layer-8.inp
data/layer-1.inp
data/CAE_Cur.rec
data/CAE_Cur.jnl
data/CAE_Cur.cae
data/layer-9.inp
data/layer-7.inp
data/layer-6.inp
data/layer-5.inp
data/layer-4.inp
data/layer-3.inp
data/layer-2.inp
data/layer-15.inp
data/layer-14.inp
data/layer-13.inp
data/layer-12.inp
data/layer-11.inp
data/layer-10.inp
data/abaqus.rpy
data/Job-layer-11_extrapolated.stt
data/Job-layer-12
data/Job-layer-12.com
data/Job-layer-12.dat
data/Job-layer-12.inp
data/Job-layer-12.mdl
data/Job-layer-12.msg
data/Job-layer-12.odb
data/Job-layer-12.prt
data/Job-layer-12.res
data/Job-layer-12.sim
data/Job-layer-12.sta
data/Job-layer-12.stt
data/Job-layer-12_extrapolated.mdl
data/Job-layer-12_extrapolated.stt
data/Job-layer-13
data/Job-layer-13.com
data/Job-layer-13.dat
data/Job-layer-13.inp
data/Job-layer-13.mdl
data/Job-layer-13.msg
data/Job-layer-13.odb
data/Job-layer-13.prt
data/Job-layer-13.res
data/Job-layer-13.sim
data/Job-layer-13.sta
data/Job-layer-13.stt
data/Job-layer-13_extrapolated.mdl
data/Job-layer-13_extrapolated.stt
data/Job-layer-14
data/Job-layer-14.com
data/Job-layer-14.dat
data/Job-layer-14.inp
data/Job-layer-14.mdl
data/Job-layer-14.msg
data/Job-layer-14.odb
data/Job-layer-14.prt
data/Job-layer-14.res
data/Job-layer-14.sim
data/Job-layer-14.sta
data/Job-layer-14.stt
data/Job-layer-14_extrapolated.mdl
data/Job-layer-14_extrapolated.stt
data/Job-layer-15
data/Job-layer-15.com
data/Job-layer-15.dat
data/Job-layer-15.inp
data/Job-layer-15.mdl
data/Job-layer-15.msg
data/Job-layer-15.odb
data/Job-layer-15.prt
data/Job-layer-15.res
data/Job-layer-15.sim
data/Job-layer-15.sta
data/Job-layer-15.stt
data/Job-layer-1_extrapolated.mdl
data/Job-layer-1_extrapolated.stt
data/Job-layer-1inp
data/Job-layer-2
data/Job-layer-2.com
data/Job-layer-2.dat
data/Job-layer-2.inp
data/Job-layer-2.mdl
data/Job-layer-2.msg
data/Job-layer-2.odb
data/Job-layer-2.prt
data/Job-layer-2.res
data/Job-layer-2.sim
data/Job-layer-2.sta
data/Job-layer-2.stt
data/Job-layer-2_extrapolated.mdl
data/Job-layer-2_extrapolated.stt
data/Job-layer-2inp
data/Job-layer-3
data/Job-layer-3.com
data/Job-layer-3.dat
data/Job-layer-3.inp
data/Job-layer-3.mdl
data/Job-layer-3.msg
data/Job-layer-3.odb
data/Job-layer-3.prt
data/Job-layer-3.res
data/Job-layer-3.sim
data/Job-layer-3.sta
data/Job-layer-3.stt
data/Job-layer-3_extrapolated.mdl
data/Job-layer-3_extrapolated.stt
data/Job-layer-3inp
data/Job-layer-4
data/Job-layer-4.1.SMABulk
data/Job-layer-4.com
data/Job-layer-4.dat
data/Job-layer-4.inp
data/Job-layer-4.mdl
data/Job-layer-4.msg
data/Job-layer-4.odb
data/Job-layer-4.prt
data/Job-layer-4.res
data/Job-layer-4.sim
data/Job-layer-4.sta
data/Job-layer-4.stt
data/Job-layer-4_extrapolated.mdl
data/Job-layer-4_extrapolated.stt
data/Job-layer-4inp
data/Job-layer-5
data/Job-layer-5.com
data/Job-layer-5.dat
data/Job-layer-5.inp
data/Job-layer-5.mdl
data/Job-layer-5.msg
data/Job-layer-5.odb
data/Job-layer-5.prt
data/Job-layer-5.res
data/Job-layer-5.sim
data/Job-layer-5.sta
data/Job-layer-5.stt
data/Job-layer-5_extrapolated.mdl
data/Job-layer-5_extrapolated.stt
data/Job-layer-6
data/Job-layer-6.1.SMABulk
data/Job-layer-6.com
data/Job-layer-6.dat
data/Job-layer-6.inp
data/Job-layer-6.mdl
data/Job-layer-6.msg
data/Job-layer-6.odb
data/Job-layer-6.prt
data/Job-layer-6.res
data/Job-layer-6.sim
data/Job-layer-6.sta
data/Job-layer-6.stt
data/Job-layer-6_extrapolated.mdl
data/Job-layer-6_extrapolated.stt
data/Job-layer-7
data/Job-layer-7.com
data/Job-layer-7.dat
data/Job-layer-7.inp
data/Job-layer-7.mdl
data/Job-layer-7.msg
data/Job-layer-7.odb
data/Job-layer-7.prt
data/Job-layer-7.res
data/Job-layer-7.sim
data/Job-layer-7.sta
data/Job-layer-7.stt
data/Job-layer-7_extrapolated.mdl
data/Job-layer-7_extrapolated.stt
data/Job-layer-8
data/Job-layer-8.com
data/Job-layer-8.dat
data/Job-layer-8.inp
data/Job-layer-8.mdl
data/Job-layer-8.msg
data/Job-layer-8.odb
data/Job-layer-8.prt
data/Job-layer-8.res
data/Job-layer-8.sim
data/Job-layer-8.sta
data/Job-layer-8.stt
data/Job-layer-8_extrapolated.mdl
data/Job-layer-8_extrapolated.stt
data/Job-layer-9
data/Job-layer-9.com
data/Job-layer-9.dat
data/Job-layer-9.inp
data/Job-layer-9.mdl
data/Job-layer-9.msg
data/Job-layer-9.odb
data/Job-layer-9.prt
data/Job-layer-9.res
data/Job-layer-9.sim
data/Job-layer-9.sta
data/Job-layer-9.stt
data/Job-layer-9_extrapolated.mdl
data/Job-layer-9_extrapolated.stt
data/layer-1-Assembly.inp
data/ABQcaeG.00.29220.exception
data/ABQcaeK.00.12556.exception
data/current-layer-Assembly.inp
data/Event_series_Heat_mm.inp
data/Event_series_Roller_mm.inp
data/INP_default_first_layer.com
data/INP_default_first_layer.dat
data/INP_default_first_layer.inp
data/INP_default_first_layer.log
data/INP_default_first_layer.mdl
data/INP_default_first_layer.msg
data/INP_default_first_layer.odb
data/INP_default_first_layer.prt
data/INP_default_first_layer.res
data/INP_default_first_layer.sim
data/INP_default_first_layer.sta
data/INP_default_first_layer.stt
data/INP_default_first_layer_extrapolated.mdl
data/INP_default_first_layer_extrapolated.stt
data/INP_default_second_layer.com
data/INP_default_second_layer.dat
data/INP_default_second_layer.inp
data/INP_default_second_layer.msg
data/INP_default_second_layer.odb
data/INP_default_second_layer.prt
data/INP_default_second_layer.sta
data/Job-1_and_2.odb
data/Job-1_and_2.txt
data/Job-1_and_2.xml
data/Job-layer-1
data/Job-layer-1.1.SMABulk
data/Job-layer-1.com
data/Job-layer-1.dat
data/Job-layer-1.inp
data/Job-layer-1.mdl
data/Job-layer-1.msg
data/Job-layer-1.odb
data/Job-layer-1.prt
data/Job-layer-1.res
data/Job-layer-1.sim
data/Job-layer-1.sta
data/Job-layer-1.stt
data/Job-layer-10
data/Job-layer-10.com
data/Job-layer-10.dat
data/Job-layer-10.inp
data/Job-layer-10.mdl
data/Job-layer-10.msg
data/Job-layer-10.odb
data/Job-layer-10.prt
data/Job-layer-10.res
data/Job-layer-10.sim
data/Job-layer-10.sta
data/Job-layer-10.stt
data/Job-layer-10_extrapolated.mdl
data/Job-layer-10_extrapolated.stt
data/Job-layer-11
data/Job-layer-11.com
data/Job-layer-11.dat
data/Job-layer-11.inp
data/Job-layer-11.mdl
data/Job-layer-11.msg
data/Job-layer-11.odb
data/Job-layer-11.prt
1mm_cube/
data/Job-layer-11.res
data/Job-layer-11.sim
data/Job-layer-11.sta
data/Job-layer-11.stt
data/Job-layer-11_extrapolated.mdl
data/ODB2VTK-main/.gitattributes
data/ODB2VTK-main/cpp/cmake/FindAbqSDK.cmake
data/ODB2VTK-main/cpp/CMakeLists.txt
data/ODB2VTK-main/cpp/main.cpp
data/ODB2VTK-main/cpp/odb2vtk.cpp
data/ODB2VTK-main/cpp/odb2vtk.h
data/ODB2VTK-main/doc/2d_planar.json
data/ODB2VTK-main/doc/2d_planar.odb
data/ODB2VTK-main/doc/2d_planar/Step-1_0.vtu
data/ODB2VTK-main/doc/2d_planar/Step-1_1.vtu
data/ODB2VTK-main/doc/axisymmetric.odb
data/ODB2VTK-main/doc/Job-1.json
data/ODB2VTK-main/doc/Job-1.odb
data/ODB2VTK-main/doc/Job-1/Job-1.pvd
data/ODB2VTK-main/doc/Job-1/Step-1_1.vtu
data/ODB2VTK-main/doc/Job-11/Job-11.pvd
data/ODB2VTK-main/doc/Job-11/Step-1_0.vtu
data/ODB2VTK-main/doc/Job-11/Step-1_1.vtu
data/ODB2VTK-main/doc/Job-1a/Job-1a.pvd
data/ODB2VTK-main/doc/Job-1a/Step-1_0.vtu
data/ODB2VTK-main/doc/Job-1a/Step-1_1.vtu
data/ODB2VTK-main/LICENSE
data/ODB2VTK-main/python/Job-layer-1.json
data/ODB2VTK-main/python/Job-layer-1.odb
data/ODB2VTK-main/python/Job-layer-1/Step-1_0.vtu
data/ODB2VTK-main/python/Job-layer-1/Step-1_1.vtu
data/ODB2VTK-main/python/Job-layer-2.json
data/ODB2VTK-main/python/Job-layer-2.odb
data/ODB2VTK-main/python/Job-layer-2/S-2_0.vtu
data/ODB2VTK-main/python/Job-layer-2/S-2_1.vtu
data/ODB2VTK-main/python/Job-layer-2/S-4_0.vtu
data/ODB2VTK-main/python/Job-layer-2/S-4_1.vtu
data/ODB2VTK-main/python/multiprocess.py
data/ODB2VTK-main/python/odb2vtk.py
data/ODB2VTK-main/python/utilities.py
data/ODB2VTK-main/README.md
data/ODB2VTK-main/res/abaqus_architecture.png
data/ODB2VTK-main/res/abaqus_u.png
data/ODB2VTK-main/res/abaqusCAE.png
data/ODB2VTK-main/res/json_header.png
data/ODB2VTK-main/res/odb2vtk_tutorial.gif
data/ODB2VTK-main/res/ParaView_Logo.png
data/ODB2VTK-main/res/paraview_u.png
data/ODB2VTK-main/res/U+2192.svg.png
data/trial_animation.avi
data/trial_animation.mov
data/trial_animation.mov - Shortcut.lnk
src/Create_Assembly_INP.asv
src/Event_series_Heat_mm.inp
src/Event_series_Roller_mm.inp
data/trial9.avi
data/trial8.avi
data/trial7.avi
data/trial6.avi
data/trial5.avi
data/trial4.avi
data/trial3.avi
data/trial2.avi
data/trial15.avi
data/trial14.avi
data/trial13.avi
data/trial12.avi
data/trial11.avi
data/trial10.avi
data/trial1.avi
data/trial.avi
data/Steps.inp
src/Generate_Toolpath_Event_Series_refinement_class.asv
src/main.asv
src/Steps.txt
data/ABQcaeK.00.42264.exception
data/ABQcaeK.00.35948.exception
data/ABQcaeK.00.32968.exception
data/ABQcaeK.00.20252.exception
data/ABQcaeG.00.14812.exception
data/abaqus.rpy.3
data/abaqus.rpy.2
data/abaqus.rpy.1
data/ABQcaeK.00.42264.exception
data/ABQcaeK.00.35948.exception
data/ABQcaeK.00.32968.exception
data/ABQcaeK.00.20252.exception
data/ABQcaeG.00.14812.exception
data/abaqus.rpy.3
data/abaqus.rpy.2
data/abaqus.rpy.1
data/cube_1mm.sat
data/Job-layer-3.1.SMABulk
data/Job-layer-5.1.SMABulk
data/Job-layer-5.2.SMABulk
data/Job-layer-7.1.SMABulk
data/layer-16.inp
data/layer-17.inp
data/Steps.txt
src/read_config.m
src/python_trials.py
data/ssjsonData.json
data/jsonData.json
data/Job-layer-5.simlog
data/Job-layer-5.simdir/Job-layer-5.1.SMAFocus
data/Job-layer-5.lck
data/Job-layer-5.cid
data/Job-layer-5.3.SMABulk
data/Job-layer-5.023
data/Job-layer-16.stt
data/Job-layer-16.sta
data/Job-layer-16.sim
data/Job-layer-16.res
data/Job-layer-16.prt
data/Job-layer-16.odb
data/Job-layer-16.msg
data/Job-layer-16.mdl
data/Job-layer-16.inp
data/Job-layer-16.dat
data/Job-layer-16.com
data/Job-layer-15_extrapolated.stt
data/Job-layer-15_extrapolated.mdl
data/Job-layer-1.2.SMABulk
data/input_file.json
data/config.ini
data/abaqus1.rec
data/abaqus.rpy.8
data/abaqus.rpy.7
data/abaqus.rpy.6
data/abaqus.rpy.5
data/
input/jsonData.json
input/Comp_geometry_trapeze_w_holes.sat
input/Comp_geometry_trapeze.sat
input/Comp_geometry_my_rectangle_true_height.sat
input/Comp_geometry_my_rectangle_09mm_height.sat
input/Comp_geometry_cylinder.sat
input/Comp_Geometry.sat
data/abaqus.rpy.11
data/Comp_Geometry.sat
data/Comp_Geometry.sat
video.mp4
data_09_mm/
data_big/
data_keep_layers_of_interest/
data_paper_XRD/
src/Event_series_layer_1.txt
src/Generate_scanpath_from_mtt.ipynb
plot_paths.mlx
input/FourBlocks-RBV-60Microns.mtt
input/Topology_Optimization_1.mtt
input/Rectangular_Prism_Build_1_stripe.mtt
input/Rectangular_Prism_Build_1_meander.mtt
input/Cube_with_holes_made_with_SW.SAT
input/cube_with_holes_2_mod.STEP
input/cube_with_holes_2.stp
input/Cube_with_holes.mtt
input/cube_with_holes.igs
input/1mm_cube.mtt
input/10mm_cube_stripe.mtt
input/10mm_cube_meander.mtt
input/10mm_Cube.sat
input/096mm_Cube.sat
src/Abaqus_PBF_micro_thermal/__pycache__/utils.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/utils.cpython-38.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/layer_class.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/layer_class.cpython-38.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/Generate_Step_files_for_layer.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/Generate_Step_files_for_layer.cpython-38.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/Generate_scanpath_from_mtt.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/Generate_scanpath_from_mtt.cpython-38.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/Abaqus_PBF_Sim.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/__init__.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/__init__.cpython-38.pyc
src/add_mapping.m
src/abaqus1.rec
src/abaqus.rpy
src/Abaqus_PBF_micro_thermal/__pycache__/Generate_Output_Video.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/run.cpython-39.pyc
src/Abaqus_PBF_micro_thermal/__pycache__/run.cpython-38.pyc
