
data/Component_geometry.inp
data/Comp_geometry_cylinder.sat
data/Comp_geometry_my_rectangle_09mm_height.sat
data/Comp_geometry_my_rectangle_true_height.sat
data/Comp_geometry_trapeze.sat
data/Comp_geometry_trapeze_w_holes.sat
data/Merge_trial.com
data/Merge_trial.dat
data/Merge_trial.inp
data/Merge_trial.ipm
data/Merge_trial.log
data/Merge_trial.msg
data/Merge_trial.odb
data/Merge_trial.prt
data/Merge_trial.sta
data/Merge_trial_separated_merging.com
data/Merge_trial_separated_merging.dat
data/Merge_trial_separated_merging.inp
data/Merge_trial_separated_merging.ipm
data/Merge_trial_separated_merging.log
data/Merge_trial_separated_merging.msg
data/Merge_trial_separated_merging.odb
data/Merge_trial_separated_merging.prt
data/Merge_trial_separated_merging.sta
data/Tie_no_merge_trial.com
data/Tie_no_merge_trial.dat
data/Tie_no_merge_trial.inp
data/Tie_no_merge_trial.ipm
data/Tie_no_merge_trial.log
data/Tie_no_merge_trial.msg
data/Tie_no_merge_trial.odb
data/Tie_no_merge_trial.prt
data/Tie_no_merge_trial.sta
